*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:100%;
  margin:3em;
  background: #666;
  color: #fff;
}
.kanbancontainer{
  display: flex;
  justify-content: space-between;
}
h1{
  margin: 1em;
  text-align: center;
}
.title{
  margin-bottom: 0;
  text-align: left;
}
h2,p{
  font-size: 100%;
  font-weight: normal;
}
ul,li{
  list-style: none;
}
ul{
  overflow: hidden;
  padding: 2em;
  padding-top: 0;
}
ul li div{
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
}

.titleinput{
  background: #ffc;
  border: hidden;
  border-color: coral;
  line-height: 2em;
  width: 18em;
}


.textinput{
  background: #ffc;
  border: hidden;
  border-color: coral;
  width: 18em;
  height: 15em;
}

textarea{
  resize: none;
}

ul li{
  margin: 1em;
}

ul li div:hover, ul li div:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}